<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PETITION FOR A POOL TABLE</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    </head>
    <body>
        <div id="mainheader">
            <h1> Petition </h1>
            <p>for a pool table at spiced.</p>
        </div>
        {{{body}}}
        <div id ="footer">
            <p><a href="/login">Login</a></p>
            <p><a href="/register">Register</a></p>
            <p><a href="/petition">Sign</a></p>
            <p><a href="/profile">Profile</a></p>
            <p><a href="/edit">Edit Profile</a></p>
            <p><a href="/logout">Logout</a></p>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="canvas.js"></script>
</html>
