
<div class="container">
    <div class="innerContainer">
        <h2 class="medium" >These people have signed the petition:</h2>
        {{#each signers}}
            <p class="signerName">{{this.first}} {{this.sur}}</p>
        {{/each}}
    </div>
</div>
