<div class = "container">
    <div class="innerContainer">
        <h2 class="medium"> Thanks for supporting our petition! <br> Including yourself, <br>{{count}} people have now signed it.</h2>
        <img id="sigPic" src="{{sig}}" alt="view"></img>
        <a id="singerLink" class="medium" href="/signers">View all Signers!</a>
    </div>
</div>
